@import url('style2.css');

body {
    background-color: #F0F0FF;
    background: url("../images/dog.gif") no-repeat #EEF;
    background-position: left top;
    height: 1000px;
    padding-left: 150px;
}

#weirdThing{
    
}

h1{border: 3px dotted #0F0;
   /*margin-left: 100px;*/
}

p {
    border: 2px solid #313d78;
    /*height: 200px;*/
    background-color: #0EF;
    color: #F00;
}

div {
    border: 10px solid #0A0;
    padding: 1em;
    background-color: #EFE;
    font-size: 1.5em;
}


span {
    display: inline-block;
    border: 2px solid #F00;
    /*height: 50%;
    width: 80%;*/
}

    span:hover {
        /*background-color: #F0F;*/
        font-family: Arial;
    }

ol li::after {
    content: " - Item";
}

li::before, ol li::after{
    content: "&"
}

strong {
    border: 2px solid #FA0;
    background-color: #FE0;
    /*position: relative;
            top: 10px;
            left: 200px;*/
    /*position:fixed;
                top: 200px;
            right: 60px;*/
    position: absolute;
    top: 50px;
    left: 100px;
}

li {
    color: #F00;
}

.first {
    /*Applies to first class elements*/
    font-weight: bold;
}

.second{
   text-decoration: underline;
}

.third{

}

.ui-selectable{
    background-color: #AAA;
}