@import url('style2.css');
body {
}

li{
    color: #F00;
}

p {
    border: 2px solid #313d78;
    /*height: 200px;*/
    background-color: #0EF;
    color: #F00;
    
}

div{
    border: 10px solid #0A0;
   padding: 1em;
   background-color: #EFE;
   font-size: 1.5em;
}


span {
    display: inline-block;
    border: 2px solid #F00;
    /*height: 50%;
    width: 80%;*/
}

span:hover{
    /*background-color: #F0F;*/
    font-family: Arial;
}

ol li::after{
    content: " - Item";
}

strong {
    border: 2px solid #FA0;
    background-color: #FE0;
    /*position: relative;
            top: 10px;
            left: 200px;*/
    /*position:fixed;
                top: 200px;
            right: 60px;*/
    position: absolute;
    top: 50px;
    left: 100px;
}